html
{

	
}

body 
{
	height: 100%;
	width: 100%;
	background-image: url("images/ipad-grey.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: cover;


}

.headerTop
{
	background-color: #555;

}

h1
{
	color: #fff;
}

.container
{
	margin: 0 auto;

}

#loginform
{
	margin-right: 0px;

}

